body {
	background-color: #222222;
	color: red;
	font-size: 16px;
	margin: 0.5em;
	padding:  1em;
}
/* change marg. then change padd.*/
/* color red*/
header, main {
	margin: 1.5em;
	padding: 1em;
}

header {
	text-align: center;
}

a:link, a:visited, a:active {
	border: 2px solid lightblue;
	border-radius: 2px;
	color: #ffff00;
}
/* change the color */
a:hover {
	background-color: #00E100;
	color: #ffaa50;
}

table {
	border-spacing: 0;
	border-collapse: separate;
	
}

table td {
	background-color: #000000;
	border: 1px solid #000000;
	color: #ffaa50;
	margin: 0.5em;
	padding: 0.5em;
}
/* change margin*/
table tr {
	margin: 0;
	padding: 0;
}

.large-text {
	font-size: 2.5em;
}

.medium-text {
	font-size: 1.75em;
}

.favorite-thing {
	background-color: #ffffff;
	color: #000000;
	margin: 1.5em ;
	padding: 1em;
}